<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683947329212-aehsd2lm2kbab92hutsekl3greuncfnp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683947329212-aehsd2lm2kbab92hutsekl3greuncfnp</string>
	<key>API_KEY</key>
	<string>AIzaSyAcQy_K1Tw8iLT-qYvrWDikkUShEIVPX-o</string>
	<key>GCM_SENDER_ID</key>
	<string>683947329212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.iesb.Projeto-Lojas</string>
	<key>PROJECT_ID</key>
	<string>lojas-e0b02</string>
	<key>STORAGE_BUCKET</key>
	<string>lojas-e0b02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683947329212:ios:44deea9596fa84aa68b2b9</string>
</dict>
</plist>